<div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-8"> 
        <!-- <div class="container">  -->
          <app-service-detail></app-service-detail>
        <!-- </div> -->
      </main>
      
      <aside class="col-lg-4">
        <div class="widget search">
          <app-search-widget></app-search-widget >
        </div>

        <div class="widget latest-posts">
          <app-relevant-services></app-relevant-services>
          
          <ul class="list-inline"></ul>
        </div>
        <!-- <div class="widget categories">
          <app-categories></app-categories >
        </div> -->
        <!-- <div class="widget tags">       
            <app-tags></app-tags >

            <ul class="list-inline"></ul>
        </div> -->
      </aside>
    </div>
  </div>