
 <section class="gallery no-padding">    
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/gallery-1.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/gallery-2.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/gallery-3.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/gallery-4.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
  </div>
</section>
<footer class="main-footer">
 
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <h6 class="text-white">Smart Way Binding</h6>
          </div>
          <div class="contact-details">
            <p>5050 Dufferin St. Unit 129 North York, ON M3H 5T5            </p>
            <p>Phone: (416) 638-2001</p>
            
            <ul class="social-menu">
              <li class="list-inline-item"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
  
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a routerLink="services">Available Services</a></li>
              <li> <a routerLink="contactus">Get Quote for Your Job</a></li>
              <li> <a routerLink="contactus">Find Us</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2021. All rights reserved. Xiao Xiao</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>