<!-- Hero Section -->

  <!-- Intro Section -->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- <h2 class="h3">Make a <strong>smart</strong> decision...</h2> <br> -->
          <p class="text-big">With over <strong>25+ years</strong> experience we have assembled an experienced, dedicated staff for our book production and bindery service to serve all your finishing needs.</p>
          <br><p class="text-big">Smart Way Binding has a <strong>complete in house bindery</strong> with capabilities ranging from folding and binding to die cutting, perforating, gluing and job fulfillment. Our state of the art equipment allows us to perfect bind, saddle stitch and die cut in quantities as low as 50 units.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-posts no-padding-top">
    <div class="container">
      <!-- Post -->
      <div class="row d-flex align-items-stretch">
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a>Perfect Bind Operator</a></div><a >
                  <h2 class="h4">Strong Glue and Clear Cut are the keys</h2></a>
              </header>
              <p>Perfect binding, or soft cover binding, is the most popular method for many reasons. With perfect bound books, you have a professional-looking option that’s less costly than case bound or hardcover.</p>
              <footer class="post-footer d-flex align-items-center"><a  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>Johnson Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> Experience: 15 years</div>
              </footer>
            </div>
          </div>
        </div>
        <div class="image col-lg-5"><img src="/assets/img/cerlox.jpg" alt="..."></div>
      </div>
      <!-- Post -->
      <div class="row d-flex align-items-stretch">
        <div class="image col-lg-5"><img src="/assets/img/idontknow.jpg" alt="..."></div>
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a >Die Cutter</a></div><a >
                  <h2 class="h4">Highly Customized, Do it the way you want!</h2></a>
              </header>
              <p>Die cutting is a fabrication process that uses specialized machines and tools to convert stock material by cutting, forming, and shearing. In printing, die cuts are used to create custom shapes and designs for labels.</p>
              <footer class="post-footer d-flex align-items-center"><a  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>Alex Chang</span></div></a>
                <div class="date"><i class="icon-clock"></i> Experience: 13 years</div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-stretch">
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a >Saddle Stitch Operator</a></div><a >
                  <h2 class="h4">Economical and High Quality</h2></a>
              </header>
              <p>A saddle stitch book is a thin book bound together using either a thread or staples. Commercial saddle stitch binding uses staples to bind books. This results in a fast and cheap method to mass produce notebooks or thin books.</p>
              <footer class="post-footer d-flex align-items-center"><a class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>Lindsay White</span></div></a>
                <div class="date"><i class="icon-clock"></i> Experience: 18 years</div>
              </footer>
            </div>
          </div>
        </div>
        <div class="image col-lg-5"><img src="/assets/img/diecutting.jpg" alt="..."></div>
      </div>
    </div>
  </section>
  <!-- Divider Section-->
  <section style="background: url(/assets/img/divider.jpg); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
         <a href="services" class="hero-link">View More Services</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->
  <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2>Popular Binding Services...</h2>
      </header>
      <div class="row">
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="/services/601047c0fbc4b639844c9082"><img src="/assets/img/blog-1.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category"><a href="/services/601047c0fbc4b639844c9082">Perfect Binding</a></div>
            </div><a href="/services/601047c0fbc4b639844c9082">
              <h3 class="h4">Professional and Visual Appeal</h3></a>
            <p class="text-muted">Perfect Binding is a widely used soft cover book binding method. The pages and cover are glued together at the spine with a strong yet flexible thermal glue. </p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="/services/601046fbfbc4b639844c9081"><img src="/assets/img/blog-2.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category"><a href="/services/601046fbfbc4b639844c9081">Saddle Stitch</a></div>
            </div><a href="/services/601046fbfbc4b639844c9081">
              <h3 class="h4">Economical and Fast Production</h3></a>
            <p class="text-muted">With saddle stitched books, the spreads are stacked, folded along the centre and stapled along the crease so that the staples close on the inside of the fold.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="/services/6010483afbc4b639844c9083"><img src="/assets/img/blog-3.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category"><a href="/services/6010483afbc4b639844c9083">Metal Spiral</a></div>
            </div><a href="/services/6010483afbc4b639844c9083">
              <h3 class="h4">Durability and Perfect Registration</h3></a>
            <p class="text-muted"> Wire binding is popular among graphic designers & offers a stylish metal finish. It use a continuous hinge of double loops of wire to hold the book covers and pages together. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  